In [1]:
import pandas as pd

data = pd.read_csv('sabr_experiments.csv')

In [2]:
data.head()

,teamID,OPP,monthID,dayID,yearID,AB,oppAB,R,RA,TR,H,oppH,BB,oppBB,HBP,oppHBP,SF,oppSF,HOME,y
0,WAS,COL,4,25,2017,41,40.0,15.0,12.0,27.0,14.0,15.0,6.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0
1,WAS,COL,4,26,2017,40,33.0,11.0,4.0,15.0,14.0,8.0,5.0,5.0,0.0,0.0,0.0,0.0,0.0,1.0
2,WAS,COL,4,27,2017,45,36.0,16.0,5.0,21.0,19.0,10.0,7.0,3.0,1.0,9.0,0.0,0.0,0.0,1.0
3,WAS,NY,4,28,2017,38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data.describe()

,monthID,dayID,yearID,AB,oppAB,R,RA,TR,H,oppH,BB,oppBB,HBP,oppHBP,SF,oppSF,HOME,y
count,4.0,4.000000,4.0,4.00000,3.000000,3.000000,3.000000,3.0,3.000000,3.000000,3.0,3.000000,3.000000,3.000000,3.0,3.000000,3.0,3.0
mean,4.0,26.500000,2017.0,41.00000,36.333333,14.000000,7.000000,21.0,15.666667,11.000000,6.0,3.333333,0.333333,3.333333,0.0,0.333333,0.0,1.0
std,0.0,1.290994,0.0,2.94392,3.511885,2.645751,4.358899,6.0,2.886751,3.605551,1.0,1.527525,0.577350,4.932883,0.0,0.577350,0.0,0.0
min,4.0,25.000000,2017.0,38.00000,33.000000,11.000000,4.000000,15.0,14.000000,8.000000,5.0,2.000000,0.000000,0.000000,0.0,0.000000,0.0,1.0
25%,4.0,25.750000,2017.0,39.50000,34.500000,13.000000,4.500000,18.0,14.000000,9.000000,5.5,2.500000,0.000000,0.500000,0.0,0.000000,0.0,1.0
50%,4.0,26.500000,2017.0,40.50000,36.000000,15.000000,5.000000,21.0,14.000000,10.000000,6.0,3.000000,0.000000,1.000000,0.0,0.000000,0.0,1.0
75%,4.0,27.250000,2017.0,42.00000,38.000000,15.500000,8.500000,24.0,16.500000,12.500000,6.5,4.000000,0.500000,5.000000,0.0,0.500000,0.0,1.0
max,4.0,28.000000,2017.0,45.00000,40.000000,16.000000,12.000000,27.0,19.000000,15.000000,7.0,5.000000,1.000000,9.000000,0.0,1.000000,0.0,1.0